.h1-headings {
    // padding-top: 10px;
    // padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    color: rgb(42, 195, 242);
    // -webkit-text-stroke-width: 1.3px;
    // -webkit-text-stroke-color: #080808;
    // -webkit-text-fill-color: white;
    // font-family: 'Lucida Console', Monaco, monospace;
    // text-shadow: 1px 2px 3px #A3A3A3;
}