.slider-image-item {
    padding: 10px;
}

.card-img-top {
    height: 14rem;
    object-fit: cover;
}

.carousel-container-with-scrollbar {
    padding-top: 20px;
    z-index: 1;
}

.card {
    border-radius: 10px;
    border: none;

    a {
        margin: auto;
        display: block;
        align-items: center;
        justify-content: center;
    }
}

#title-container {
    display: flex;
    align-items: center;
    justify-content: center;

    #sub-title-left {
        width: 10%;
        height: 1px;
        background-color: white;
    }

    #sub-title-right {
        width: 10%;
        height: 1px;
        background-color: white;
    }

    #sub-title-center {
        color: white;
        padding-left: 7px;
        padding-right: 7px;
    }
}