h2 {
    display: inline;
    font-family: "Lucida Console", Courier, monospace;
}

.nav-links {
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "Lucida Console", Courier, monospace;
    color: white;
}

.nav-position {
    position: fixed;
    z-index: 2;
}