.videoPlayer {
    // width: "90%";
    // height:"550px";
    // border: 2px solid red;
    // display: block;
    
    video {
        border-radius: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}