.videoPlayer {
    // width: "90%";
    // height:"550px";
    // border: 2px solid red;
    // display: block;

    video {
        border-radius: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}

.welcome {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: auto;
   
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hr {
    width: 40%;
    height: 4px;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(240, 126, 13);
}