.videoPlayer {
    // width: "90%";
    // height:"550px";
    // border: 2px solid red;
    // display: block;

    video {
        border-radius: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}

.welcome {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: rgb(45, 167, 204);

    // -webkit-text-stroke-width: 1.3px;
    // -webkit-text-stroke-color: #080808;
    // -webkit-text-fill-color: white;
    // font-family: 'Lucida Console', Monaco, monospace;
    // text-shadow: 1px 2px 3px #A3A3A3;
}

.hr {
    width: 40%;
    height: 4px;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(240, 126, 13);
}