.section {
    padding-right: 35px;
    // padding-left: 10px;
}
.site-footer
{
  background-color:#26272b;
  padding-top: 5px;
//   padding-bottom: 5px;
  font-size:15px;
//   position: fixed;
  display: block;
  align-items: center;
  justify-content: center;
  bottom: 0;
//   line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  display: flex;
  margin:auto;
  align-items: center;
  justify-content: center;
}
// @media (max-width:991px)
// {
//   .site-footer [class^=col-]
//   {
//     margin-bottom:30px
//   }
// }
// @media (max-width:767px)
// {
//   .site-footer
//   {
//     padding-bottom:0
//   }
//   .site-footer .copyright-text,.site-footer .social-icons
//   {
//     text-align:center
//   }
// }
// .social-icons
// {
//   padding-left:0;
//   margin-bottom:0;
//   list-style:none
// }
// .social-icons li
// {
//   display:inline-block;
//   // margin-bottom:4px
//   margin-bottom: 10px;
//     margin-top: -6px;
// }
// .social-icons li.title
// {
//   margin-right:15px;
//   text-transform:uppercase;
//   color:#96a2b2;
//   font-weight:700;
//   font-size:13px
// }
// .social-icons a{
//   background-color:#eceeef;
//   color:#818a91;
//   font-size:16px;
//   display:inline-block;
//   line-height:44px;
//   width:44px;
//   height:44px;
//   text-align:center;
//   margin-right:8px;
//   border-radius:100%;
//   -webkit-transition:all .2s linear;
//   -o-transition:all .2s linear;
//   transition:all .2s linear
// }

.footer-links {
  align-items: center;
  justify-content: center;
  a.linkedin:hover {
    color:#385eaf
  }
  a.facebook:hover {
    color:#00aced
  }
  a.github:hover {
    color:#11d764
  }
  a.instagram:hover {
    color:#dc34ac
  }
  .linkedin {
    text-decoration: none;
  }
  .facebook {
    text-decoration: none;
  }
  .github {
    text-decoration: none;
  }
  .instagram {
    text-decoration: none;
  }
}

// .social-icons a:active,.social-icons a:focus,.social-icons a:hover
// {
//   color:#fff;
//   background-color:#29aafe
// }
// .social-icons.size-sm a
// {
//   line-height:34px;
//   height:34px;
//   width:34px;
//   font-size:14px
// }
// .social-icons a.linkedin:hover
// {
//   background-color:#385eaf
// }
// .social-icons a.facebook:hover
// {
//   background-color:#00aced
// }
// .social-icons a.github:hover
// {
//   background-color:#11d764
// }
// .social-icons a.instagram:hover
// {
//   background-color:#dc34ac
// }

// @media (max-width:767px)
// {
//   .social-icons li.title
//   {
//     display:block;
//     margin-right:0;
//     font-weight:600
//   }
// }

.footer-row {
    --bs-gutter-x: 0; 
    // --bs-gutter-x: 0
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    // margin-top: calc(-1 * var(--bs-gutter-y));
    // margin-right: calc(-.5 * var(--bs-gutter-x));
    // margin-left: calc(-.5 * var(--bs-gutter-x));
    margin: auto;
    align-items: center;
    justify-content: center;
}