.big-hr-line {
    height: 80px;
}

.component-body {
    width: 85%;
    display: block;
    margin: auto;
}

.body {
    // background-image: url("./background.jpg");
    // height: 100%;
    background-color: #1e1f26;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}