.carousal-slider {
    width: 100%;
    display: block;
    margin: auto;
    z-index: 1;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 550px;
}

.caption {
    width: 30%;
    right: 35%;
    left: 35%;
    padding: 10px;
    display: inline;
    bottom: 2rem;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.carousel-indicators {
    margin-bottom: 1vmin
}